<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwConfigExceptions="true">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="ColoredConsole"
          name="ColoredConsole"
          encoding="utf-8"
          errorStream="true"
          layout="${longdate} ${uppercase:${level}} ${logger} ${aspnet-item:variable=UserKey} ${aspnet-traceidentifier} ${threadid} ${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
    </target>
	<target xsi:type="AsyncWrapper" name="AsyncToFile" timeToSleepBetweenBatches="0" overflowAction="Block">
	  <target xsi:type="File"
			  name="ToFile"
			  fileName="Logs/debug_${cached:${date:universalTime=true:format=yyyy-MM-dd HH_mm_ss}}.log"
			  encoding="UTF-8"
			  lineEnding="LF"
			  archiveFileName="Logs/debug_{#}.log"
			  archiveDateFormat="yyyy-MM-dd HH_mm_ss"
			  archiveNumbering="Date"
			  archiveOldFileOnStartup="true"
			  archiveEvery="Hour"
			  archiveAboveSize="100000000"
			  maxArchiveFiles="5"
			  keepFileOpen="true"
			  concurrentWrites="false"
			  openFileCacheTimeout="30">
		<layout xsi:type="JsonLayout" includeAllProperties="false">
		  <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
		  <attribute name="level" layout="${level:upperCase=true}" />
		  <attribute name="logger" layout="${logger}" />
		  <attribute name="userip" layout="${aspnet-request-ip}" />
		  <attribute name="threadid" layout="${threadid}" />
		  <attribute name="requestID" layout="${aspnet-traceidentifier}" />
		  <attribute name="message" layout="${message}" escapeUnicode="false" />
		  <attribute name="exception" layout="${exception:format=tostring}" escapeUnicode="false" />
		</layout>
	  </target>
	</target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ColoredConsole" />
    <logger name="*" minlevel="Trace" writeTo="ToFile" />
  </rules>
</nlog>
