<notifier-container></notifier-container>
<div class="container-fluid h-100">
  <div class="row">
    <loader></loader>
  </div>
  <div class="row h-100">
    <!-- category blade -->
    <div class="col my-3">
      <ngx-blade [config]="bladeConfig" #categoryBlade>
        <div class="blade-header" ngxBladeHeader>
          <blade-header
            [bladeName]='categoryBladeName'
          ></blade-header>
        </div>
        <div ngxBladeBody>
          <category #category (categoryWasSelected)="onNewCategoryWasSelected($event)"></category>
        </div>
      </ngx-blade>
    </div>
    <!-- goodList blade -->
    <ng-template [ngIf]='isVisibleGoodListBlade'>
      <div class="col my-3">
          <good-list 
          (goodWasSelected)='onGoodWasSelected($event)'
          #goodlist></good-list>
      </div>
    </ng-template>
    <!-- editGood blade -->
    <ng-template [ngIf]='isVisibleEditGoodBlade'>
      <div class="col my-3">
        <good-edit 
          (goodWasUpdated)='goodListComponent.onGoodWasUpdated($event)'
          (goodWasCreated)='goodListComponent.onGoodWasCreated($event)'
        #goodedit></good-edit>       
      </div>
    </ng-template>
  </div>
</div>
