<notifier-container></notifier-container>
<div class="container-fluid h-100">
  <div class="row">
    <loader></loader>
  </div>
  <div class="row h-100">
    <!-- category blade -->
    <div class="col my-3">
      <category-blade (categoryWasSelected)="onNewCategoryWasSelected($event)">       
      </category-blade>
    </div>
    <!-- goodList blade -->
    <ng-template [ngIf]='isVisibleGoodListBlade'>
      <div class="col my-3">
          <good-list-blade 
          (goodWasSelected)='onGoodWasSelected($event)'
          (needToCloseEditBlade)='closeEditGoodComponent($event)'
          #goodlist></good-list-blade>
      </div>
    </ng-template>
    <!-- editGood blade -->
    <ng-template [ngIf]='isVisibleEditGoodBlade'>
      <div class="col my-3">
        <good-edit-blade
          (goodWasUpdated)='goodListComponent.onGoodWasUpdated($event)'
          (goodWasCreated)='goodListComponent.onGoodWasCreated($event)'
        #goodedit></good-edit-blade>       
      </div>
    </ng-template>
  </div>
</div>
